.menu{
  width: 100px;
  height: 100vh;
  background-color: black;
}

.menu-scoll{
  display: grid;
  grid-template-columns: 0fr;
  transition: grid-template-columns 500ms;
}

.menu-scoll > div{
  overflow: hidden;
}

.menu-scoll:hover{
  grid-template-columns: 1fr;
}

.accordion-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
  }
  
  .accordion-content[aria-hidden="true"] {
    grid-template-rows: 1fr;
  }
  
  .accordion-content > div {
    overflow: hidden;
  }
  
  body {
    font-family: system-ui;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .wrapper {
    width: min(65ch, 100% - 4rem);
    margin-inline: auto;
  }
  
  .accordion {
    background: #121212;
    color: #effeef;
    padding: 1rem;
  }
  
  .accordion-panel {
    padding: 1rem;
    border: 1px solid;
  }
  
  .accordion h2 {
    position: relative;
  }
  
  .accordion-trigger {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background: transparent;
    border: 0;
    font: inherit;
    color: inherit;
  }
  
  .rotate{
    rotate: 180deg;
  }
  